body {
  background-color: rgb(107, 127, 238);
}

footer {
  position: relative;
}

footer ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

footer li {
  margin-left: 2px;
  float: left;
}

footer ul li a:hover {
  background-color: #d3d3d3;
}

footer a {
  text-decoration: none;
  margin: 16px;
}
